<app-landing></app-landing>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Region Name</th>
      <th scope="col">Vote</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let region of regions; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ region.name }}</td>
      <td>{{ region.vote_no }}</td>
      <td>{{ region.logo }}</td>
    </tr>
  </tbody>
</table>
