.rImage {
  padding: 12px 9px 6px 153px;
}

mat-form-field {
  width: 100%;
  overflow: hidden;
  max-height: 4.5em;
}

.example-button-row {
  display: table-cell;
}

.btnmrg {
  margin-right: 10px;
}
