<app-landing></app-landing>
<br />
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div>
      <section>
        <div class="example-button-row">
          <button
            [routerLink]="['/signup']"
            routerLinkActive="router-link-active"
            style="margin-right: 10px;"
            mat-raised-button
            color="primary"
          >
            Sign Up
          </button>
          <button
            [routerLink]="['/help']"
            routerLinkActive="router-link-active"
            style="margin-right: 10px;"
            mat-raised-button
            color="accent"
          >
            Help
          </button>

          <button
            [routerLink]="['/info']"
            routerLinkActive="router-link-active"
            style="margin-right: 10px;"
            mat-raised-button
          >
            Info
          </button>
          <button
            [routerLink]="['/users']"
            routerLinkActive="router-link-active"
            style="margin-right: 10px;"
            mat-raised-button
          >
            Users
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <mat-card>
      <div class="rImage">
        <img src="./assets/images/logo.png" />
        <h2>INGIA</h2>
      </div>
      <div>
        <form
          (ngSubmit)="login(loginForm.value)"
          [formGroup]="loginForm"
          novalidate
          autocomplete="off"
        >
          <mat-form-field appearance="outline">
            <mat-label>JINA</mat-label>
            <input
              matInput
              formControlName="username"
              placeholder="Ingiza Jina la Mtumiaji"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>NYWILA</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Ingiza neno la Siri"
            />
          </mat-form-field>
          <div class="login-button">
            <button
              style="background-color: #d11c1c;"
              type="submit"
              [disabled]="!loginForm.valid"
              class="btn-block bg-teal"
              mat-flat-button
              color="primary"
            >
              INGIA
            </button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
