li {
    color: rgb(21, 37, 255)
}

h2 {
    color: rgb(23, 184, 136);
}

h3 {
    color: rgb(226, 43, 119);
    color: rgba(0, 255, 179, 0.267);
}

h3 {
    color: rgb(136, 255, 0);
}

h1 {
    color: green;
}