<app-landing></app-landing>
<br />
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1 style="padding-right: 30px;">Register Category</h1>
  </div>
  <div class="col-sm-4"></div>
</div>
<h1>{{ todaydate | date: "shortTime" }}</h1>

<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <form
        (ngSubmit)="save(formGroup.value)"
        [formGroup]="formGroup"
        novalidate
      >
        <mat-dialog-content>
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Name"
                  autocomplete="off"
                  formControlName="name"
                  required
                />
                <mat-error
                  *ngIf="
                    !formGroup.get('name').valid &&
                    formGroup.get('name').touched
                  "
                >
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Code</mat-label>
                <input
                  matInput
                  placeholder="Code"
                  name="code"
                  autocomplete="off"
                  formControlName="code"
                  required
                />
                <mat-error
                  *ngIf="
                    !formGroup.get('code').valid &&
                    formGroup.get('code').touched
                  "
                >
                  Code is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input
                  matInput
                  placeholder="Description"
                  autocomplete="off"
                  formControlName="description"
                  required
                />
                <mat-error
                  *ngIf="
                    !formGroup.get('description').valid &&
                    formGroup.get('description').touched
                  "
                >
                  Description is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-dialog-content>
        <mat-dialog-actions>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!formGroup.valid"
          >
            <mat-icon>save</mat-icon> Save
          </button>
        </mat-dialog-actions>
      </form>
    </mat-card>
  </div>
</div>

<div *ngIf="!categories">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<table *ngIf="categories" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ category.code | uppercase }}</td>
      <td>{{ category.name | uppercase }}</td>
      <td>{{ category.description | uppercase }}</td>
      <td>
        <button
          (click)="edit(category)"
          color="primary"
          style="margin-right: 10px;"
          mat-raised-button
        >
          Edit
        </button>
        <button
          (click)="delete(category)"
          color="accent"
          style="margin-right: 10px;"
          mat-raised-button
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
